
<p>
    Bonjour,<br>
    Un compte vous a été assigné pour planifier vos horaires de cours: <br><br>
    Votre identifiant : <br>
    Votre mot de passe : Bonjour2022! <br><br>
    <a href="{{ signedUrl }}">Connectez-vous pour confirmer vos informations</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement,
</p>