{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Créer une nouvelle matière</h1>
    {{ include('matiere/_form.html.twig') }}

    <a href="{{ path('calendar_index') }}">Retour</a>
{% endblock %}
