{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    <style>
        #calendar {
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    {{ dump(data) }}
    <div id="calendar"></div>
{% endblock %}

{% block  javascripts %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendar");
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true,
            })
            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`;
                let donnees = {
                    "Matière": e.event.title,
                    "Description": e.event.extendedProps.description,
                    "Début": e.event.start,
                    "Fin": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                    "textColor": e.event.textColor,
                };
                let xhr = new XMLHttpRequest;
                xhr.open("PUT", url);
                xhr.send(JSON.stringify(donnees));
            })
            calendar.render();
        }
    </script>
{% endblock %}
