{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Créer un nouveau créneau</h1>
    {{ include('gestion/_form.html.twig') }}

    <a href="{{ path('calendar_index') }}">Retour</a>
{% endblock %}
